<h3 class="text-primary">
  Status route
</h3>

<div class="row">
  <div class="col-6">
    <h5>Keycloak session status component</h5>
    <KeycloakSessionStatus/>
  </div>
  <div class="col-6">
    <h5>Keycloak session profile component</h5>
    <KeycloakSessionProfile/>
  </div>
</div>