<div class="container p-3">

  <div class="row">
    <div class="col">

      <h3 class="text-primary">
        Demo routes
      </h3>

      <div class="d-flex justify-content-between">
        <span>
          <LinkTo @route="demo.status">
            Status
          </LinkTo>
        </span>
        <span>
          <LinkTo @route="demo.model-a" @model={{1}}>
            Route to model A
          </LinkTo>
          <span class="d-block small text-muted">
              Adapter will refresh token before ajax call
            </span>
        </span>
        <span>
          <LinkTo @route="demo.model-a.model-b" @models={{array 1 2}}>
            Route to nested model B
          </LinkTo>
          <span class="d-block small text-muted">
              Adapter will refresh token before ajax calls
            </span>
        </span>
        <span>
          <LinkTo @route="demo.unprotected">
            Unprotected route
          </LinkTo>
        </span>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      {{outlet}}
    </div>
  </div>
</div>

