<div class="container p-3">
  <div class="row">
    <div class="col-6">
      <h5 class="pt-3 text-primary">
        Server details
      </h5>
      <DemoConfiguration/>
    </div>
    <div class="col-6">
      <h5 class="pt-3 text-primary">
        Configuration
      </h5>
      <KeycloakSessionConfig/>
    </div>
  </div>
</div>

